# Віртуальне середовище (саме воно давало 100500 файлів)
.venv/
venv/
ENV/

# Налаштування PyCharm
.idea/

# Тимчасові файли Python
__pycache__/
*.pyc

# Папки білду (якщо робила exe)
build/
dist/
*.spec
